.title{
    text-decoration: none;
    font-family: 'Myriad Pro',sans-serif;
   
font-size: 80px;
font-weight: 400;
text-align: center;

margin-top: 101px;
}

.global{
    padding-left: 61px;

}
.black{
    color:black;
}
.blue{
    color: #4bcaff;
}
.nav-bar-hor{
    margin-top: 45px;
    background-color:#35444f;
width: 1280px;
height: 69px;
display: flex;
justify-content: center;

}
.element-of-hor-nav-bar{
    text-decoration: none;
    cursor: pointer;
    background-color:#35444f;
    padding-right: 41px;
    padding-left: 41px;
    text-align: center;
    font-family: 'Myriad Pro',sans-serif;
color:#ffffff;
font-size: 24px;
font-weight: 400;
padding-top: 21px;
padding-bottom: 21px;
}
.element-of-hor-nav-bar:hover{
   background-color: #222f3a;
   border-left: 1px white solid;
   border-right:1px white solid; 
}
.ver-nav-bar{
    
    width: 344px;
height: 399px;
border: 1px black solid;
margin-top: 51px;
}
.el-of-ver-nav-bar{
    width: 273px;
    cursor: pointer;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 69px;
    font-family: 'Myriad Pro',sans-serif;
    color: #485863;
    font-size: 25px;
    font-weight: 400;
    text-align: left;

}
.el-of-ver-nav-bar:hover{
background: lightgray;
color: black;
border: 1px black solid;}
.block-with-main-img{
    margin-top: 51px;
    
    width: 885px;
    height: 529px;
    border: 1px black solid
}
img{
    width: 320px;
    margin-top: 75px;
    margin-left: 297px;
    position: relative;
    transition: 0.4s;
}
img:hover{
    transform: scale(1.3);
}
.txt-under-main-img{
    
    font-family: 'Myriad Pro',sans-serif;
color:#2c2b2b;
font-size: 18px;
font-weight: 400;
text-align: justify;
width: 815px;
margin-left: 35px;
}
.bottom-block{
    display: flex;
    width: 1280px;
height: 69px;
margin-top: 51px;
background: #A9A9A9;
}
.body-block-of-site{
    display: flex;
    align-items: flex-start;
    width: 1280px;
    justify-content: space-between;
}
.bot-nav-bar{
    display: flex;
    justify-content: space-between;
    margin-left: 44px;
    width: 809px;
}
.elemt-of-bottom-block{
    text-decoration: none;
    cursor: pointer;
    padding-top: 22px;
    padding-bottom: 22px;
    font-family: 'Myriad Pro',sans-serif;
color:#0c1927;
font-size: 24px;
font-weight: 400;

text-align: left;
}
.elemt-of-bottom-block:hover{
    
    color: #4bcaff;
    text-decoration: underline;

}
.copyright{
    text-decoration: none;
    cursor: pointer;
    padding-top: 22px;
    padding-bottom: 22px;
    font-family: 'Myriad Pro',sans-serif;
color:#0c1927;
font-size: 24px;
font-weight: 400;
margin-left: 218px;
text-align: left;
}